body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 66, 80);
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;
}

nav {
    position: relative;
}

.nav-link {
    color: white;
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: brown;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    right: 0;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        margin: 0;
    }
}
